@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>


@if (Employees == null)
{

    <h3>Chill Out Homie, That Shit Is Loading...</h3>
    <div class="spinner">

    </div>
}


else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
                <div class="card-header">
                    <h3>@employee.FirstName @employee.LastName</h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top imageThumbnail" src="@employee.PhotoPath" alt="@employee.FirstName @employee.LastName" />

                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary m-1">View</a>
                    <a href="#" class="btn btn-warning m-1">Edit</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </div>

}


